ANGEL_ONE_API_KEY=ANGEL_ONE_API_KEY_DEFAULT_VALUE
ANGEL_REDIRECT_URI=kingkhan://oauth/callback
DHAN_CLIENT_ID=DHAN_CLIENT_ID_DEFAULT_VALUE
DHAN_API_KEY=DHAN_API_KEY_DEFAULT_VALUE
DHAN_CLIENT_SECRET=DHAN_CLIENT_SECRET_DEFAULT_VALUE
DHAN_REDIRECT_URI=kingkhan://oauth/callback
