ANGEL_ONE_API_KEY=ANGEL_ONE_API_KEY_DEFAULT_VALUE
ANGEL_REDIRECT_URI=kingkhan://oauth/callback
DHAN_CLIENT_ID=DHAN_CLIENT_ID_DEFAULT_VALUE
DHAN_API_KEY=DHAN_API_KEY_DEFAULT_VALUE
DHAN_CLIENT_SECRET=DHAN_CLIENT_SECRET_DEFAULT_VALUE
DHAN_REDIRECT_URI=kingkhan://oauth/callback
UPSTOX_API_KEY=UPSTOX_API_KEY_DEFAULT_VALUE
UPSTOX_API_SECRET=UPSTOX_API_SECRET_DEFAULT_VALUE
UPSTOX_REDIRECT_URI=https://application-beige-psi.vercel.app/oauth
FYERS_APP_ID=FYERS_APP_ID_DEFAULT_VALUE
FYERS_SECRET_ID=FYERS_SECRET_ID_DEFAULT_VALUE
FYERS_REDIRECT_URI=https://application-beige-psi.vercel.app/oauth
